<style>
    table {
        border-collapse: collapse;
        width: 100%;
        font-size: 12px;
    }

    th, td {
        text-align: left;
        padding: 8px;
        align:left;
        padding: 3px;
    }

    tr:nth-child(even){background-color: #f2f2f2}

    th {
        background-color: #4CAF50;
        color: white;
    }
</style>
<div id="myCarousel" class="carousel slide" data-ride="carousel" style="max-height: 300px;">
    <!-- Indicators -->
  <!--  <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="{{$Index}}" ng-class="{active:$index == 0}" ng-repeat="item in AppJSON.homeBanners"></li>
    </ol>
-->
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item" ng-class="{active:$index == 0}" ng-repeat="item in AppJSON.homeBanners">
            <!--<img src="https://placehold.it/1200x400?text=IMAGE" alt="Image">-->
            <img src="{{item.path}}" alt="Image"  style="max-height: 300px;display: block;
    margin: auto;">
            <!--<div class="carousel-caption">-->
                <!--<h3>{{item.title}}</h3>-->
                <!--<p>Desc</p>-->
            <!--</div>-->
        </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container text-center" >
    <h3>Introduction</h3><br>
    <div class="row well" style="color: #3a3a3a;">
        <div class="col-sm-12">
            <div class="col-sm-4 ">
                <div class="thumbnail">
                    <p><strong>President</strong></p>
                    <img src="images/members/face.gif" alt="Member" style="max-height: 300px;"><br/>
                    <p>Name</p>
                    <!--<span class="btn btn-primary">More</span>-->
                </div>
            </div>
            <div class="col-sm-4 thumbnail">
                <!--<img src="http://www.rgtrust.ru/media/styles/images/not_image.gif" class="img-responsive" style="width:100%;height:300px;"alt="Image">-->
                <p>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Role</th>
                        </tr>
                        <tr ng-repeat="item in AppJSON.membersDirectory">
                            <td ng-bind="item.name"></td>
                            <td ng-bind="item.designation"></td>
                        </tr>
                    </table>
                </p>
            </div>
            <div class="col-sm-4 ">
                <div class="thumbnail">
                    <p><strong>	Hony. Secretary</strong></p>
                    <img src="images/members/face.gif" alt="Member" style="max-height: 300px;"><br/>
                    <!--<img src="./images/members/kailash.jpg" alt="Member" style="max-height: 300px;max-width: 300px;">-->
                    <p>Name</p>
                    <!--<button class="btn btn-primary">See Profile</button>-->
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div ng-include="'home_gallery.html'"></div>
        </div>
        <hr/>
        <div class="col-sm-12">

            <div class="col-sm-8">
                <img  class="groupPic" src="images/banner/2.jpg" alt="group pic" width="1000" max-height="300">
            </div>
            <div class="col-sm-4 well" >
                <b>CONTACT US </b><hr/>
                <strong>NAINITAL COURT BAR ASSOCIATION</strong> <br/>

                <b>Address</b> <br/>
                Nainital High Court Complex <br/>
                Uttarakhand:110075 <br/>
                Bar office:011-28041409 <br/>
                Telefax:011-28041410 <br/>
                Email:
                dwarkacourtbarassociation@gmail.com
            </div>
        </div>
    </div>
</div><br>
<footer class="container-fluid text-center">
    <p><img class="logo" src="http://www.rgtrust.ru/media/styles/images/not_image.gif"></p>
</footer>