<div  class="w3-table-all" style="color: #3a3a3a;">
    <div class="form-group" style="float: right;padding: 2px;">
        <label for="inputlg">Large input</label>
        <input class="form-control" style="width: 90px;"  ng-model="q" id="inputlg" type="text">
    </div>
   <!-- <input style="float: right;" ng-model="q" id="search"  placeholder="Filter text">-->
</div>


<table class="w3-table-all" style="color: #3a3a3a;">
    <tr>
        <th>SR. NO</th>
        <th>CODE</th>
        <th>Name</th>
        <th>S/O, D/O, W/O</th>
        <th>Contact No.</th>
        <th>Image</th>
    </tr>
    <tr dir-paginate="value in AppJSON.membersDirectory | filter:q | itemsPerPage: 5" >
        <td>{{((AppJSON.sno-1)*5)+$index+1}}</td>
        <td ng-bind="value.code"></td>
        <td ng-bind="value.name"></td>
        <td ng-bind="value.sodowo"></td>
        <td ng-bind="value.contact"></td>
        <td><img ng-src="{{value.picPath}}" alt="Profile Pic" class="w3-center w3-circle w3-margin-auto" style="width:60px"></td>
    </tr>
</table>
<div style="float: right;">

    <dir-pagination-controls
            id="page"
            class="right pagination-controller"
            max-size="5"
            direction-links="true"
            on-page-change="pageChangeHandler(newPageNumber)"
            boundary-links="true">
    </dir-pagination-controls>
</div>
<!--
<dir-pagination-controls
        id="page"
        on-page-change="getPageData(newPageNumber)"
        class="right pagination-controller"
        max-size="5"
        direction-links="true"
        boundary-links="true"
        pagination-id="LocationsTable"
        ng-show="poiListShow">
</dir-pagination-controls>-->