<div ng-controller="BlogController">
    <div class="bgimg-1">
        <div class="caption">
            <span class="border">TITLE TEXT</span>
        </div>
    </div>

    <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
        <h3 style="text-align:center;">Location 1</h3>
        <p>Description</p>
    </div>

    <div class="bgimg-2">
        <div class="caption">
            <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">MORE ACTIVITIES</span>
        </div>
    </div>

    <div style="position:relative;">
        <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
            <p>Activities.</p>
        </div>
    </div>

    <div class="bgimg-3">
        <div class="caption">
            <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">CONCLUSION</span>
        </div>
    </div>

    <div style="position:relative;">
        <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
            <p>conclusion note</p>
        </div>
    </div>

    <div class="bgimg-1">
        <div class="caption">
            <span class="border">THE END !</span>
        </div>
    </div>
</div>


<footer class="container-fluid text-center">
    <p><img class="logo" src="./images/logo/logo_trans.png"></p>
</footer>