<div class="jumbotron">
    <div class="container text-center">
        <h1>Our Mission</h1>
        <p>A better informed individual can make better decision is what we believe in.</p>
    </div>
</div>

<div class="container-fluid bg-3 text-center">
    <h5>Sahi Raah is a bunch of enthusiastic and ambitious young folks who want to help students in

        picking up the correct path for their career. Majority of young kids who are in schools are so

        engrossed in their exams and homework that they either do not get time to think of their future

        prospect or they do not have correct guidance to help them understand the options they have

        except IITs, Medicine and law. <br/>

        We have a very straightforward approach – Let kids decide what they want to do with their

        lives. To enable them for this arduous task, we provide them the necessary tools and guidance. <br/>

        A quick chat with your neighbor’s son will make you realize how less informed kids are about

        their future options. We were in a similar stage, not very long back. We have struggled and now

        we want to pass on whatever experience we have to young minds. <br/>

        We conduct seminars to help students understand that there are tons of options available and

        if one is not good in Maths, it is not the end of the world. We tell them about school level

        competitions and events they should attend to help them reach their future goals.</h5><br>
    <!--<div class="row">
        <div class="col-sm-3">
            <p>Vipin</p>
            <img src="images/founders/vipin.jpg" class="img-responsive" style="width:100%;height: 300px;"  alt="vipin">
            <p>founder desc</p>
        </div>
        <div class="col-sm-3">
            <p>Kailash</p>
            <img src="images/founders/kailash.jpg" class="img-responsive" style="width:100%;height: 300px;"   alt="kailash">
            <p>...</p>
        </div>
        <div class="col-sm-3">
            <p>Aakriti</p>
            <img src="images/founders/ak.jpg" class="img-responsive" style="width:100%;height: 300px;"   alt="aakriti">
            <p>...</p>
        </div>
        <div class="col-sm-3">
            <p>Kislay</p>
            <img src="images/founders/kislay.jpg" class="img-responsive" style="width:100%;height: 300px;"   alt="kislay">
            <p>...</p>
        </div>
    </div>-->
</div><br>


<footer class="container-fluid text-center">
    <!--<p><img class="logo" src="http://www.rgtrust.ru/media/styles/images/not_image.gif"></p>-->
    <p><img class="logo" src="./images/logo/logo_trans.png"></p>
</footer>